<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key="dir" value="5002"/>
    <add key="GPRS.Port2" value="5003"/>
    <add key="GPRS.Port3" value="5004"/>
  </appSettings>


</configuration>
